In [1]:
import pandas as pd
import numpy as np
import json
from pandas.io.json import json_normalize

In [2]:
agenda = pd.read_json("agenda_cultural.json")
agenda.columns

Index(['ID', 'post_author', 'post_date', 'post_date_gmt', 'post_content',
       'post_title', 'post_excerpt', 'post_status', 'comment_status',
       'ping_status', 'post_password', 'post_name', 'to_ping', 'pinged',
       'post_modified', 'post_modified_gmt', 'post_content_filtered',
       'post_parent', 'guid', 'menu_order', 'post_type', 'post_mime_type',
       'comment_count', 'filter', 'id', 'type', 'title', 'featured_media',
       'featured_media_thumbnail', 'featured_media_medium',
       'featured_media_large', 'subtitle', 'subject', 'string_dates',
       'string_times', 'description', 'venue', 'categories_name_list',
       'tags_name_list', 'link', 'occurences', 'StartDate', 'LastDate',
       'price_cat', 'price_val', 'target_audience', 'accessibility'],
      dtype='object')

In [3]:
agendalx = agenda[["ID", "categories_name_list", "title", "venue", "occurences", "LastDate", "price_cat"]]
agendalx.head(5)

,ID,categories_name_list,title,venue,occurences,LastDate,price_cat
0,24138,"{'cinema': {'id': 38, 'slug': 'cinema', 'name'...","{'rendered': '""O Farol"" de Robert Eggers'}","{'espaco-nimas': {'id': 405, 'slug': 'espaco-n...","[2020-02-14, 2020-02-15, 2020-02-16, 2020-02-18]",2020-02-18,unknown
1,24137,"{'musica': {'id': 42, 'slug': 'musica', 'name'...",{'rendered': 'Resistência'},"{'culturgest': {'id': 303, 'slug': 'culturgest...",[2020-02-15],2020-02-15,value
2,24132,"{'ciencia': {'id': 39, 'slug': 'ciencia', 'nam...",{'rendered': 'Dinossauros Explorer'},[],"[2019-12-21, 2019-12-22, 2019-12-23, 2019-12-2...",2020-03-22,
3,24109,"{'cinema': {'id': 38, 'slug': 'cinema', 'name'...",{'rendered': 'Especial Óscares'},"{'espaco-nimas': {'id': 405, 'slug': 'espaco-n...","[2020-02-02, 2020-02-03, 2020-02-04, 2020-02-0...",2020-02-24,unknown
4,24128,"{'danca': {'id': 26, 'slug': 'danca', 'name': ...",{'rendered': 'The Wake of Sleep'},[],[2020-01-29],2020-01-29,free

### Clean venue  and create column

In [4]:
venue = agenda["venue"]

def get_venue(x):
    if type(x) == dict:
        # Return the first key
        return list(x.keys())[0]
    
    return "---"

            
agendalx["Venue Name"] = agendalx["venue"].apply(get_venue)
agendalx.head()

/home/rute/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()

,ID,categories_name_list,title,venue,occurences,LastDate,price_cat,Venue Name
0,24138,"{'cinema': {'id': 38, 'slug': 'cinema', 'name'...","{'rendered': '""O Farol"" de Robert Eggers'}","{'espaco-nimas': {'id': 405, 'slug': 'espaco-n...","[2020-02-14, 2020-02-15, 2020-02-16, 2020-02-18]",2020-02-18,unknown,espaco-nimas
1,24137,"{'musica': {'id': 42, 'slug': 'musica', 'name'...",{'rendered': 'Resistência'},"{'culturgest': {'id': 303, 'slug': 'culturgest...",[2020-02-15],2020-02-15,value,culturgest
2,24132,"{'ciencia': {'id': 39, 'slug': 'ciencia', 'nam...",{'rendered': 'Dinossauros Explorer'},[],"[2019-12-21, 2019-12-22, 2019-12-23, 2019-12-2...",2020-03-22,,---
3,24109,"{'cinema': {'id': 38, 'slug': 'cinema', 'name'...",{'rendered': 'Especial Óscares'},"{'espaco-nimas': {'id': 405, 'slug': 'espaco-n...","[2020-02-02, 2020-02-03, 2020-02-04, 2020-02-0...",2020-02-24,unknown,espaco-nimas
4,24128,"{'danca': {'id': 26, 'slug': 'danca', 'name': ...",{'rendered': 'The Wake of Sleep'},[],[2020-01-29],2020-01-29,free,---

### Clean date and create column

In [5]:
# no null values
agendalx["LastDate"].isnull().sum()
# to datetime
agendalx["LastDate"] = pd.to_datetime(agendalx["LastDate"])
#month column
agendalx["Month"] = agendalx["LastDate"].dt.month
#quarter column
agendalx["Quarter"] = agendalx["LastDate"].dt.quarter

/home/rute/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/home/rute/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/home/rute/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

### Clean type of event and create event

In [6]:
def get_event(x):
    if type(x) == dict:
        # Return the first key
        return list(x.keys())[0]
    return "---"
agendalx["categories_name_list"] = agendalx["categories_name_list"].apply(get_event)

/home/rute/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [16]:
agendalx.head()

,ID,categories_name_list,title,venue,occurences,LastDate,price_cat,Venue Name,Month,Quarter
0,24138,cinema,"{'rendered': '""O Farol"" de Robert Eggers'}","{'espaco-nimas': {'id': 405, 'slug': 'espaco-n...","[2020-02-14, 2020-02-15, 2020-02-16, 2020-02-18]",2020-02-18,unknown,espaco-nimas,2,1
1,24137,musica,{'rendered': 'Resistência'},"{'culturgest': {'id': 303, 'slug': 'culturgest...",[2020-02-15],2020-02-15,value,culturgest,2,1
2,24132,ciencia,{'rendered': 'Dinossauros Explorer'},[],"[2019-12-21, 2019-12-22, 2019-12-23, 2019-12-2...",2020-03-22,,---,3,1
3,24109,cinema,{'rendered': 'Especial Óscares'},"{'espaco-nimas': {'id': 405, 'slug': 'espaco-n...","[2020-02-02, 2020-02-03, 2020-02-04, 2020-02-0...",2020-02-24,unknown,espaco-nimas,2,1
4,24128,danca,{'rendered': 'The Wake of Sleep'},[],[2020-01-29],2020-01-29,free,---,1,1

In [8]:
type_count = agendalx["categories_name_list"].value_counts()
type_count.head(12)

artes              1863
musica             1352
teatro              768
cinema              502
ciencia             372
danca               309
visitas-guiadas     279
---                 160
literatura          134
feiras              121
Name: categories_name_list, dtype: int64

In [9]:
month_count = agendalx["Month"].value_counts()
month_count

11    703
12    676
9     673
10    594
2     496
6     482
1     481
7     426
3     418
5     406
4     335
8     170
Name: Month, dtype: int64

In [10]:
quarter_count = agendalx["Quarter"].value_counts()
quarter_count

4    1973
1    1395
3    1269
2    1223
Name: Quarter, dtype: int64

In [11]:
venue_occur = agendalx['Venue Name'].value_counts()
venue_occur.head(22)

---                                            267
centro-cultural-de-belem                       264
fundacao-calouste-gulbenkian                   201
sao-luiz-teatro-municipal                      127
cinemateca                                     123
museu-do-oriente                               101
coliseu-dos-recreios                            92
teatro-nacional-dona-maria-ii                   87
culturgest                                      84
cineteatro-capitolio-teatro-raul-solnado        78
altice-arena                                    70
musicbox                                        68
rua-das-gaivotas-6                              65
museu-da-marioneta                              65
maat-museu-de-arte-arquitetura-e-tecnologia     62
teatro-tivoli-bbva                              61
lu-ca-teatro-luis-de-camoes                     60
casino-de-lisboa                                59
museu-do-dinheiro                               50
cinema-sao-jorge                                50
teatro-do-bairro                                45
praca-de-toiros-do-campo-pequeno                44
Name: Venue Name, dtype: int64

In [47]:
agendalx.dtypes

ID                               int64
categories_name_list            object
title                           object
venue                           object
occurences                      object
LastDate                datetime64[ns]
price_cat                       object
Venue Name                      object
Month                            int64
Quarter                          int64
dtype: object

In [12]:
#number of unique venues
agendalx["Venue Name"].nunique()

750

In [93]:
data = [{"name": "Fred", "age": 20 }, { "name": "Someone", "age": 23}]


data = pd.DataFrame(data)
data.head()

      name  age
0     Fred   20
1  Someone   23

In [115]:
top20_venues = ["centro-cultural-de-belem", "fundacao-calouste-gulbenkian", "sao-luiz-teatro-municipal", "cinemateca", "museu-do-oriente", "coliseu-dos-recreios", "teatro-nacional-dona-maria-ii", "culturgest", "cineteatro-capitolio-teatro-raul-solnado", "altice-arena", "musicbox",
"rua-das-gaivotas-6", "museu-da-marioneta", "maat-museu-de-arte-arquitetura-e-tecnologia", "teatro-tivoli-bbva", "lu-ca-teatro-luis-de-camoes", "casino-de-lisboa", "cinema-sao-jorge", "museu-do-dinheiro", "teatro-do-bairro", "praca-de-toiros-do-campo-pequeno"]
quarters =[1, 2, 3, 4]

new_data = []

# loop over each venue

# for each venue, loop over each quarter

# filter the rows that match the venue name and the quarter

# count that
grouped_venues = agendalx.loc[:,["Venue Name", "Quarter"]]
# print(grouped_venues)


for venue in top20_venues:
    d = { "name": venue }
    for q in quarters:
        count = grouped_venues[grouped_venues["Venue Name"].eq(venue) & grouped_venues["Quarter"].eq(q)].shape[0]
        d["q" + str(q)] = count
        
    new_data.append(d)

new_data_table = pd.DataFrame(new_data)
new_data_table

                                           name  q1  q2  q3  q4
0                      centro-cultural-de-belem  77  59  38  90
1                  fundacao-calouste-gulbenkian  61  25  33  82
2                     sao-luiz-teatro-municipal  28  31  17  51
3                                    cinemateca  27  27  25  44
4                              museu-do-oriente  21  14  29  37
5                          coliseu-dos-recreios  18  23  13  38
6                 teatro-nacional-dona-maria-ii  24  23  14  26
7                                    culturgest  24  15   7  38
8      cineteatro-capitolio-teatro-raul-solnado  17  19  14  28
9                                  altice-arena  12  20  21  17
10                                     musicbox  14  18  15  21
11                           rua-das-gaivotas-6  19  14  11  21
12                           museu-da-marioneta  10   9  20  26
13  maat-museu-de-arte-arquitetura-e-tecnologia   9  17  18  18
14                           teatro-tivoli-bbva  11  17   4  29
15                  lu-ca-teatro-luis-de-camoes  23   8  10  19
16                             casino-de-lisboa  11  10   9  29
17                             cinema-sao-jorge  10  13  13  14
18                            museu-do-dinheiro  16   8  11  15
19                             teatro-do-bairro   9  13   6  17
20             praca-de-toiros-do-campo-pequeno   9   6   4  25