In [64]:
import pandas as pd
import numpy as np
import json
from pandas.io.json import json_normalize

In [65]:
agenda = pd.read_json("agenda_cultural.json")
agenda.columns

Index(['ID', 'post_author', 'post_date', 'post_date_gmt', 'post_content',
       'post_title', 'post_excerpt', 'post_status', 'comment_status',
       'ping_status', 'post_password', 'post_name', 'to_ping', 'pinged',
       'post_modified', 'post_modified_gmt', 'post_content_filtered',
       'post_parent', 'guid', 'menu_order', 'post_type', 'post_mime_type',
       'comment_count', 'filter', 'id', 'type', 'title', 'featured_media',
       'featured_media_thumbnail', 'featured_media_medium',
       'featured_media_large', 'subtitle', 'subject', 'string_dates',
       'string_times', 'description', 'venue', 'categories_name_list',
       'tags_name_list', 'link', 'occurences', 'StartDate', 'LastDate',
       'price_cat', 'price_val', 'target_audience', 'accessibility'],
      dtype='object')

In [66]:
agendalx = agenda[["ID", "categories_name_list", "title", "venue", "occurences", "LastDate", "price_cat"]]
agendalx.head(10)

,ID,categories_name_list,title,venue,occurences,LastDate,price_cat
0,24138,"{'cinema': {'id': 38, 'slug': 'cinema', 'name'...","{'rendered': '""O Farol"" de Robert Eggers'}","{'espaco-nimas': {'id': 405, 'slug': 'espaco-n...","[2020-02-14, 2020-02-15, 2020-02-16, 2020-02-18]",2020-02-18,unknown
1,24137,"{'musica': {'id': 42, 'slug': 'musica', 'name'...",{'rendered': 'Resistência'},"{'culturgest': {'id': 303, 'slug': 'culturgest...",[2020-02-15],2020-02-15,value
2,24132,"{'ciencia': {'id': 39, 'slug': 'ciencia', 'nam...",{'rendered': 'Dinossauros Explorer'},[],"[2019-12-21, 2019-12-22, 2019-12-23, 2019-12-2...",2020-03-22,
3,24109,"{'cinema': {'id': 38, 'slug': 'cinema', 'name'...",{'rendered': 'Especial Óscares'},"{'espaco-nimas': {'id': 405, 'slug': 'espaco-n...","[2020-02-02, 2020-02-03, 2020-02-04, 2020-02-0...",2020-02-24,unknown
4,24128,"{'danca': {'id': 26, 'slug': 'danca', 'name': ...",{'rendered': 'The Wake of Sleep'},[],[2020-01-29],2020-01-29,free
5,24129,"{'ciencia': {'id': 39, 'slug': 'ciencia', 'nam...",{'rendered': 'De que Vale uma Galinha'},[],[2020-02-02],2020-02-02,
6,24124,"{'artes': {'id': 1, 'slug': 'artes', 'name': '...",{'rendered': 'Patrícia Filipe'},"{'a-montanha': {'id': 248, 'slug': 'a-montanha...","[2020-02-01, 2020-02-02]",2020-02-02,unknown
7,24121,"{'artes': {'id': 1, 'slug': 'artes', 'name': '...",{'rendered': 'Paula Rego'},{'museu-da-presidencia-da-republica': {'id': 3...,"[2020-02-04, 2020-02-05, 2020-02-06, 2020-02-0...",2020-05-03,unknown
8,24115,"{'cinema': {'id': 38, 'slug': 'cinema', 'name'...",{'rendered': 'Aniki Bobó'},"{'ginasio-de-sao-vicente': {'id': 3459, 'slug'...",[2020-02-15],2020-02-15,free
9,24096,"{'cinema': {'id': 38, 'slug': 'cinema', 'name'...",{'rendered': 'Stanley Kubrick & Roman Polanski...,"{'espaco-nimas': {'id': 405, 'slug': 'espaco-n...","[2020-02-08, 2020-02-12, 2020-02-17, 2020-02-1...",2020-03-01,unknown

## Getting the venue name

Do a Dictionary comprehension list that gets the value of the last key in venue

In [59]:
venue = agenda["venue"]
first = list(venue[0].keys())[0]
print(type(first))
type(first[0])
print(first)

<class 'str'>
espaco-nimas

In [124]:
venue = agenda["venue"]

def get_venue(x):
    if type(x) == dict:
        # Return the first key
        return list(x.keys())[0]
    
    return "---"

            
agendalx["Venue Name"] = agendalx["venue"].apply(get_venue)
agendalx.head()

/home/rute/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()

,ID,categories_name_list,title,venue,occurences,LastDate,price_cat,Venue Name
0,24138,"{'cinema': {'id': 38, 'slug': 'cinema', 'name'...","{'rendered': '""O Farol"" de Robert Eggers'}","{'espaco-nimas': {'id': 405, 'slug': 'espaco-n...","[2020-02-14, 2020-02-15, 2020-02-16, 2020-02-18]",2020-02-18,unknown,espaco-nimas
1,24137,"{'musica': {'id': 42, 'slug': 'musica', 'name'...",{'rendered': 'Resistência'},"{'culturgest': {'id': 303, 'slug': 'culturgest...",[2020-02-15],2020-02-15,value,culturgest
2,24132,"{'ciencia': {'id': 39, 'slug': 'ciencia', 'nam...",{'rendered': 'Dinossauros Explorer'},[],"[2019-12-21, 2019-12-22, 2019-12-23, 2019-12-2...",2020-03-22,,---
3,24109,"{'cinema': {'id': 38, 'slug': 'cinema', 'name'...",{'rendered': 'Especial Óscares'},"{'espaco-nimas': {'id': 405, 'slug': 'espaco-n...","[2020-02-02, 2020-02-03, 2020-02-04, 2020-02-0...",2020-02-24,unknown,espaco-nimas
4,24128,"{'danca': {'id': 26, 'slug': 'danca', 'name': ...",{'rendered': 'The Wake of Sleep'},[],[2020-01-29],2020-01-29,free,---

In [119]:
agendalx.head()

,ID,categories_name_list,title,venue,occurences,LastDate,price_cat,Venue Name
0,24138,"{'cinema': {'id': 38, 'slug': 'cinema', 'name'...","{'rendered': '""O Farol"" de Robert Eggers'}","{'espaco-nimas': {'id': 405, 'slug': 'espaco-n...","[2020-02-14, 2020-02-15, 2020-02-16, 2020-02-18]",2020-02-18,unknown,espaco-nimas
1,24137,"{'musica': {'id': 42, 'slug': 'musica', 'name'...",{'rendered': 'Resistência'},"{'culturgest': {'id': 303, 'slug': 'culturgest...",[2020-02-15],2020-02-15,value,culturgest
2,24132,"{'ciencia': {'id': 39, 'slug': 'ciencia', 'nam...",{'rendered': 'Dinossauros Explorer'},[],"[2019-12-21, 2019-12-22, 2019-12-23, 2019-12-2...",2020-03-22,,---
3,24109,"{'cinema': {'id': 38, 'slug': 'cinema', 'name'...",{'rendered': 'Especial Óscares'},"{'espaco-nimas': {'id': 405, 'slug': 'espaco-n...","[2020-02-02, 2020-02-03, 2020-02-04, 2020-02-0...",2020-02-24,unknown,espaco-nimas
4,24128,"{'danca': {'id': 26, 'slug': 'danca', 'name': ...",{'rendered': 'The Wake of Sleep'},[],[2020-01-29],2020-01-29,free,---